/public/
/resources/
.hugo_build.lock

node_modules
package-lock.json
pdf/temp
pdf/**/*.pdf
pdf/w2pdf_template/footer.html

dist

**/.DS_store

content/bib.json

images/Global-Income-Distribution/.ipynb_checkpoints
images/Global-Income-Distribution/*.svg
