// Blue colors for the website
$dark-blue: #0b3b5b;              // 12 uses
$medium-blue: #236d9f;            // 1 use only
$light-blue: #1c567d;             // 7 uses
$very-light-blue: #33aaff;        // 7 uses

$oxford-blue: #012147;            // 1 use only - oxford logo
$callout-gradient-blue: #3380b4;  // 1 use only - callout button
$search-highlight-blue: #d5ecfc;  // 1 use only - search highlight

// Glossary only:
$glossary-blue: #0c63e4;          // 1 use only - glossary
$glossary-white-blue: #e7f1ff;    // 1 use only - clossary

// Grays
$off-white: #f5f5f5;              // 5 uses
$footnote-number-bg: #eeeeee;     // 1 use only - footnote number
$gray-ddd: #dddddd;               // 1 use only - hr
$gray-ccc: #cccccc;               // 8 uses
$gray-aaa: #aaaaaa;               // 1 use only - table header
$gray-999: #999999;               // 1 use only - site footer marker
$gray-333: #333333;               // 1 use only - site footer bg
$font-color: #222222;             // 1 use only - article font color
