// FOOTER ============================

.site-footer {
  background-color: $gray-333;
  padding-top: 50px;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  position: relative;

  ::selection {
    background: $oxford-blue;
  }
  ::-moz-selection {
    background: $oxford-blue;
  }

  li::marker {
    color: $gray-999;
  }

  .footer-heading {
    color: $search-highlight-blue;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 14px;
    pointer-events: none;
    transform: translate(-10px, 0px);
  }

  .temp-navigation-hack {
    border: 0;

    ol {
      transform: translate(-16px, -16px);
      ul {
        transform: translate(-16px, 0);
      }
    }

    a {
      margin-left: 6px;
      color: white;
    }

    .small-left-padding {
      padding-inline-start: 20px;
    }

    .large-gap {
      margin-top: 36px;
    }
  }
}

.disclaimer {
  bottom: 20px;
  margin-top: 16px;
  padding-top: 20px;
  position: relative;
  text-align: center;

  ::selection {
    background: $oxford-blue;
  }
  ::-moz-selection {
    background: $oxford-blue;
  }

  .oxford-container {
    background: $oxford-blue;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    max-height: 90px;
    max-width: 90px;
    overflow: hidden;
    padding: 8px;
  }

  .disclaimer-text {
    color: $gray-ccc;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 26px;
    margin-top: 10px;
  }
}

// END OF FOOTER ^^^^^^^^^^^^^^^^^^^^^^^^^
