// WEBSITE HEADER HERE ====================================================================

.website-header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  max-width: 850px;
  margin: 0 auto;
  height: 72px;

  .nudge-down {
    transform: translate(0, 10px);

    & > a {
      font-weight: bold;
    }
  }

  .i18n-icon {
    margin: 0;
  }

  .logo {
    margin: 20px;
    width: 200px;

    img {
      max-width: 100%;
      width: 200px;
    }
  }

  .header-navigation-item {
    display: inline-block;
    margin: 20px 10px 20px;
    font-size: 15px;

    a {
      text-decoration: none;
      color: $dark-blue;

      &:hover {
        color: $very-light-blue;
      }
    }
  }

  .i18n-container {
    margin: 20px 0 0;
    position: relative;

    .language-dropdown {
      min-width: 100px !important;
      max-width: 100px !important;
    }
  }

  .dropdown {
    span {
      color: black;
    }

    .dropdown-content {
      background-color: $off-white;
      border: 1px solid $gray-ccc;
      box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
      display: none;
      left: 50%;
      min-width: 310px;
      // max-width: 420px;
      padding: 16px 16px 6px;
      position: absolute;
      transform: translate(-50%, 10px);
      z-index: 1;

      .title {
        display: block;
        font-size: 16px;
        width: 100%;
      }

      .author {
        color: $light-blue;
        display: inline-block;
        font-size: 12px;
        margin-left: 0px;
        margin-top: 4px;
        &::before {
          content: "-";
        }
      }

      .year {
        color: $light-blue;
        display: inline-block;
        font-size: 12px;
        opacity: 0.7;
        width: 100px;
      }

      li {
        margin: 0 14px 14px;
      }

      .active {
        list-style-type: "\00BB";
        padding-left: 8px;

        &::marker {
          font-size: 18px;
        }

        a {
          cursor: default !important;
          font-size: 16px;
          pointer-events: none;
          font-weight: bold;
          color: $very-light-blue;
        }
      }
    }

    .content-wide {
      min-width: 400px;
      transform: translate(-80%, 10px);
    }

    .nudge-up {
      transform: translate(-50%, 1px);
      padding: 5px 10px;
    }

    &:hover .dropdown-content {
      display: block;
    }
  }
}
