// @import 'developer-mode'; // keep disabled

$breakpoint-tablet: 850px;

// @import "font"; <-- disabled on purpose, we now load it in <head>
@import "colors";
@import "header";
@import "homepage";
@import "footer";
@import "thinkers";
@import "toc"; // table of contents
@import "glossary";
@import "buttons";
@import "footnotes";
@import "unsorted";
@import "search";
@import "mobilenav";
@import "mobile";

// @import 'pdf'; // only toggle on when generating PDF files

// Miscellaneous styling

* {
  font-family: Merriweather, 'Times New Roman', Georgia, Times, serif;

  ::selection {
    background: $search-highlight-blue;
  }
  ::-moz-selection {
    background: $search-highlight-blue;
  }
}

a {
  text-underline-offset: 3px;
  text-decoration-color: $light-blue;
}

body {
  margin: 0;
}

h1 {
  line-height: 1.5;
}
