// @import 'developer-mode'; // keep disabled
@import 'colors';
@import 'font';
@import 'header';
@import 'homepage';
@import 'footer';
@import 'thinkers';
@import 'toc'; // table of contents
@import 'glossary';
@import 'footnotes';

// Miscellaneous styling

* {
  font-family: Merriweather;
}

body {
  margin: 0;
}

// ARTICLE BODY ========================================

.article-body {
  max-width: 850px;
  margin: 0 auto;
  padding: 30px;
  background: white;

  font-family: Merriweather;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 2em;
  text-transform: none;
  color: $font-color;

  a {
    color: $dark-blue;
  }

  img {
    max-width: 100%;
  }
}

// end of article-body


.next-page-button {
  text-align: right;
}

.guest-essay-container {
  a {
    text-decoration: none;

    &:hover {
      div {
        background-color: $off-white;
      }
    }
  }

  h2 {
    margin: 0 0;
    line-height: 40px;
  }

  .author {
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 16px;
    display: block;
  }

  .image-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 290px;
    margin-right: 30px;
    overflow: hidden;
    width: 200px;
  }

  .guest-essay {
    padding: 20px;
    display: block;
    margin-bottom: 30px;
    min-height: 300px;
  }
}

.objections-buttons-container {
  display: flex;
  justify-content: space-around;
  margin: 36px 0 30px;
}

.small-button {
  background-color: $medium-blue;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 14px 28px;
  width: auto;

  &:hover {
    background-color: $light-blue;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.coffee-house {
  font-size: 12px;
  line-height: 20px;
  margin: 10px;
}

.books {
  display: grid;
  grid-template-columns: 260px 260px 260px;
  // grid-template-rows: 80px auto 80px;
  column-gap: 30px;
  row-gap: 30px;

  .book {
    width: 260px;
    height: 415px;
  }

}

.book-outline {
  .book {
    box-sizing: border-box;
    border: 1px solid $gray-ccc;
  }
}


.read-more {
  text-align: right;
  transform: translate(-30px, 0px);

  .prof {
    font-size: 14px;
  }

  .uni {
    color: $dark-blue;
    display: block;
    font-size: 14px;
    transform: translateY(-6px);
  }
}

.read-more-2 {
  clear: initial;
  transform: translate(-30px, -20px);
}

.prof-bottom-hack {
  clear: both;
  margin-bottom: 40px
}

.main-body-class {
  background-color: white;
}

.high-z-index {
  z-index: 10;
}

.website-header-2 {
  background-color: $off-white;
  max-width: initial;
  display: block;
  height: 40px;

  .header-navigation-item {
    margin: 10px 15px;
  }
}

.sub-header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 950px;

  .dropdown {
    position: relative;
  }
}

.temp-navigation-hack {
  border: 1px solid $gray-ccc;
  padding: 10px;
  color: white;

  a {
    display: block;
    padding-top: 16px;
    color: $dark-blue;
    text-decoration: none;

    &:hover {
      color: $very-light-blue;
    }
  }
}

table {
  border-spacing: 0px;
  border:0;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;

  tr td, table tr th {
    border:1px solid $gray-ccc;
  }

  td, th {
    padding: 12px;
  }

  th {
    border: 1px solid $gray-aaa;
  }
}

.no-pointer {
  cursor: default;
}

blockquote {
  margin: 0;
  padding-left: 30px;
  border-left: 2px solid $gray-ccc;
}

.citation {
  margin-bottom: 40px;

  .how-to-cite {
    font-size: 14px;
    margin: 0 20px;
  }
}

strong {
  font-weight: bold;
}

hr {
  border: none;
  height: 1px;
  background-color: $gray-ddd;
  margin: 40px 0;
}


.large-hit-box {
  padding: 10px 0;
}


.book-header {
  text-align: center;
  margin: 0;
  padding: 50px 10px;
  color: white;

  .title {
    display: block;
    font-size: 30px;
    margin: 10px;
    font-size: 30px;
  }

  .author {
    display: block;
    margin: 5px;
  }

  .year {
    opacity: 0.8;
    font-size: 14px;
    display: block;
    margin: 5px;
  }
}