// @import 'developer-mode'; // keep disabled

$breakpoint-tablet: 850px;

@import "font";
@import "colors";
@import "header";
@import "homepage";
@import "footer";
@import "thinkers";
@import "toc"; // table of contents
@import "glossary";
@import "buttons";
@import "footnotes";
@import "unsorted";
@import "audio";
@import "search";
@import "mobilenav";
@import "mobile";

// @import 'pdf'; // only toggle on when generating PDF files

// @import 'bookpdf'; // only toggle on when generating Book PDF files

// Miscellaneous styling

* {
  font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;

  ::selection {
    background: $search-highlight-blue;
  }
  ::-moz-selection {
    background: $search-highlight-blue;
  }
}

a {
  text-underline-offset: 3px;
  text-decoration-color: $light-blue;
}

body {
  margin: 0;
}

h1 {
  line-height: 1.5;
}

.align-author-right {
  p:last-child {
    text-align: right;

    p {
      text-align: left;
    }
  }
}

ul {
  .list-icon {
    display: inline;
  }
}

.list-icon {
  background: white;
  display: none;
  padding-right: 10px;
  pointer-events: none;
  position: absolute;
  transform: translateX(-34px);
}

.no-wrap {
  white-space:nowrap;
}
