@media only screen and (max-width: 990px) {
  .pdf-download {
    display: none;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .mobile-header {
    display: initial;
  }

  .regular-header {
    display: none;
  }

  .dark-background {
    blockquote {
      padding: 0 !important;
    }
  }

  .article-body {
    padding: 20px;

    blockquote {
      padding-left: 20px;
    }

    .table-of-contents {
      padding: 20px;
    }
  }

  .small-button {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }

  .site-footer {
    padding-top: 20px;

    .footer-navigation {
      display: block;

      .footer-heading {
        transform: translate(4px, -4px);
      }
    }
  }

  .scroll-to-top {
    bottom: 10px;
    height: 25px;
    right: 10px;
    width: 25px;
  }

  .books {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    justify-content: space-between;
    row-gap: 20px;

    .book {
      height: 100%;
      width: 100%;
    }
  }

  .thinker {
    // for the `about` page
    width: 120px;
    height: 120px;
  }

  .thinker-name {
    .year {
      display: block;
    }
  }

  .all-thinkers-container {
    .thinker-container {
      width: 120px;
      height: 120px;

      .image {
        width: 100%;
      }
    }
  }

  .essay-author {
    height: 150px;
  }

  .littlefoot-footnote__wrapper {
    min-width: 100vw;
  }

  .littlefoot-footnote__content {
    p {
      min-width: initial;
    }
  }

  .guest-essay-container {
    .guest-essay {
      padding: 0;

      .image-container {
        height: 160px;
        width: 120px;
      }

      h2 {
        font-size: 16px;
        line-height: 1.6;
      }
    }
  }

  .homepage-guest-essay-container {
    a {
      width: 100%;
      min-height: 96px;
    }

    .guest-essay {
      padding: 10px 0;

      h2 {
        font-size: 14px;
        padding-top: 0;
        transform: translateY(-6px);
      }

      .image-container {
        height: 70px;
        width: 60px;
      }
    }
  }

  .callout {
    padding: 35px;

    .two-button-callout {
      display: block;

      .callout-button {
        text-align: center;
        width: calc(100% - 40px);
      }
    }
  }

  li {
    word-break: break-word; // for long URL in References, at least on Nir Eyal's essay - else page scrolls sideways
  }
}
