// MOBILE MENU

.mobile-header {
  display: none;

  header {
    background: $off-white;
    border-bottom: 1px solid $gray-aaa;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 20;
  }

  &::after {
    content: "";
    display: block;
    height: 50px;
    width: 10px;
  }

  header a,
  header label {
    color: black;
    display: block;
    line-height: 20px;
    padding: 20px;
    text-decoration: none;
  }

  header a:hover,
  header label:hover {
    color: $gray-333;
  }

  header label {
    cursor: pointer;
    float: right;
    padding: 20px 20px 0;
  }

  header label:after {
    content: "\2261";
    font-size: 40px;
  }

  .logo {
    float: left;
    margin: 14px;
    width: 200px;

    a {
      padding: 0;
    }

    img {
      max-width: 100%;
    }
  }

  nav {
    float: right;
    max-height: 0;
    width: 100%;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;

    ul {
      margin: 0;
      padding-bottom: 10px;
      padding: 0;

      li:last-child {
        padding-bottom: 12px;
      }
    }

    li {
      display: block;
      padding-left: 42px;
    }

    a {
      padding: 10px;
      // width: 100%;
      display: inline-block;

      span {
        font-size: 10px;
      }
    }
  }

  #nav {
    display: none;
  }

  #nav:checked ~ nav {
    max-height: 200vh; /* This can be anything bigger than your nav height. The transition duration works with this */
  }

  // Section for nested links inside mobile navigation
  details {
    border: 0;

    summary {
      padding: 10px;
      font-weight: initial;

      .icon {
        height: 16px;
        margin-left: 8px;
        margin-top: 3px;
        min-height: 16px;
        min-width: 16px;
        width: 16px;
      }
    }

    li {
      display: list-item;
      font-size: 14px;
      list-style-position: inside;
      list-style: circle;
      margin-left: 35px;
      padding-left: 0px;

      &::marker {
        color: $very-light-blue;
      }

      a {
        vertical-align: middle;
      }
    }

    li:last-child {
      padding-bottom: 0 !important;
    }
  }

  details[open] summary {
    color: initial;
    background-color: initial;
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    header label {
      display: none;
    }

    nav {
      width: auto;
      max-height: none;
    }

    nav ul {
      padding: 0;
      padding-right: 10px;
    }

    nav li {
      display: inline-block;
      text-align: left;
    }

    header nav a {
      display: inline-block;
      padding: 20px 10px;
      width: auto;
    }
  }
}
