footer,
.callout,
.hide-on-pdf,
.pdf-download,
.scroll-to-top,
.website-header-2,
.website-header {
  display: none;
}

.littlefoot-footnote__host {
  display: none !important;
}

a {
  text-underline-offset: 5px;
  text-decoration-color: $very-light-blue;
}

.footnote-ref,
.footnote-backref {
  padding: 5px;
  text-decoration: none;
  border: 1px solid $very-light-blue;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  text-align: center;
  transform: translate(0, -5px);
  display: inline-block;
  line-height: 13px;
}

.footnote-ref {
  border: 0;
  padding: 5px 0;
}

.footnote-backref {
  transform: translate(0, 0);
}
.article-body {
  font-size: 12px;
}

h2 {
  font-size: 16px;
  font-weight: initial;
  margin-top: 32px;
}

h3 {
  font-size: 14px;
  font-weight: initial;
  margin-top: 28px;
}

.book-header {
  background: none !important;

  h1 {
    color: black;
  }
}

a {
  color: black !important;
  text-decoration: none;
}

hr,
.callout,
.citation,
.objections-buttons-container,
.textbook-chapters-descriptions,
.table-of-contents {
  display: none;
}

.footnote-backref {
  display: none;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -6px;
}

#resources-and-further-reading,
#resources-and-further-reading ~ ul,
#resources-and-further-reading ~ h3 {
  display: none;
}

.footnotes {
  &::before {
    content: "Notes";
    font-size: 14px;
  }
  font-size: 10px;
}
