.scroll-to-top {
  display: none;
}

.littlefoot-footnote__host {
  display: none !important;
}

footer {
  display: none;
}

.website-header-2 {
  display: none;
}

.website-header {
  display: none;
}

.callout {
  display: none;
}
