.all-thinkers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .thinker-container {
    border-radius: 5px;
    display: inline-block;
    padding: 15px;

    .name {
      color: black;
      margin-top: 6px;
    }

    .image img {
      border-radius: 5px;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
      transition-duration: 250ms;
      transition-property: box-shadow transform;
    }

    &:hover {
      .name {
        color: $light-blue;
      }

      .image img {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        filter: saturate(100%);
        transform: translateY(-5px);
        transition-duration: 250ms;
        transition-property: box-shadow transform;
      }
    }
  }

  .name {
    text-align: center;
  }

  .image {
    width: 150px;

    img {
      filter: saturate(0%);
      width: 100%;
    }
  }

  a {
    text-decoration: none;
    font-size: 14px;
  }
}

.thinker {
  float: left;
  height: 235px;
  margin-right: 20px;
  width: 235px;

  & + p {
    margin-top: 0;
  }

  img {
    border-radius: 5px;
  }
}

.thinker-name {
  padding-top: 10px;

  .name {
    font-size: 20px;
    font-weight: bold;
    color: $dark-blue;
  }
  .year {
    font-size: 14px;
    margin-left: 10px;
  }
}

.essay-author {
  width: 180px;

  & + p {
    min-height: 225px;
  }
}
