// Table of contents (TOC)

.table-of-contents {
  background: $off-white;
  padding: 30px;
  border-radius: 5px;

  span {
    color: $dark-blue;
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  h2 {
    text-align: center;
    color: $dark-blue;
  }

  li::marker {
    font-size: 12px;
    color: $very-light-blue;
  }

  .selected {
    font-weight: bold;
    pointer-events: none;

    a {
      pointer-events: none;
    }
  }

  ol {
    margin: 0;
  }

  // WARNING !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  // this hides all the items under `Resources and Further Reading`
  // from all `table-of-contents` class -- and may accidentally
  // hide something we didn't want to hide! Check all pages carefully
  ol {
    li:last-child {
      ol {
        display: none;
      }
    }
  }

  span {
    font-size: 20px;
  }

  a {
    display: block;
    margin-left: 6px;
    text-decoration: none;
    color: black;
    transition-property: color;
    transition-duration: 350ms;

    &:hover {
      color: $very-light-blue;
      transition-duration: 50ms;
    }
  }

  nav {
    ol {
      padding-inline-start: 16px;
    }
  }

  ul {
    padding-inline-start: 0;
  }

  ol {
    padding-inline-start: 0;

    li {
      ol {
        padding-inline-start: 20px;

        li {
          font-size: 14px;
        }

        li::marker {
          content: "○";
          font-size: 10px;
          position: absolute;
          transform: translateY(2px);
        }
      }
    }
  }
}

.show-last-ol {
  ol {
    li {
      ol {
        display: block !important;
      }
    }
  }
}

.ol-to-ul-hack {
  nav {
    ol {
      list-style-type: disc;
    }
  }
}

.book-table-of-contents {
  font-size: 14px;

  h2 {
    margin: 0;
  }

  ul {
    margin: 0 20px;
  }
}

.hide-TOC-children-hack {
  ol {
    li {
      ol {
        li {
          display: none;
        }
      }
    }
  }
}
