// ARTICLE BODY ========================================

.article-body {
  background: white;
  color: $font-color;
  font-family: Merriweather;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 2em;
  margin: 0 auto;
  max-width: 850px;
  padding: 30px;
  position: relative;
  text-transform: none;
  -webkit-font-smoothing: subpixel-antialiased;

  a {
    color: $dark-blue;
    text-underline-offset: 3px;
    text-decoration-color: $link-underline-blue;

    &:hover {
      color: black;
    }
  }

  img {
    max-width: 100%;
  }

  li {
    margin-bottom: 0.5em;
  }
}

// make h1 the same size as h2
// we use h1 so the `pagefind` automatically tags the title of the page
h1 {
  font-size: 1.5em;
}

// end of article-body

.guest-essay-container {
  a {
    text-decoration: none;

    &:hover {
      div {
        background-color: $off-white;
      }
    }
  }

  h2 {
    margin: 0 0;
    line-height: 40px;
  }

  .author {
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 16px;
    display: block;
  }

  .image-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 290px;
    margin-right: 30px;
    overflow: hidden;
    width: 200px;
    border-radius: 5px;
  }

  .guest-essay {
    padding: 20px;
    display: block;
    margin-bottom: 30px;
    min-height: 300px;
    border-radius: 5px;
  }
}

.homepage-guest-essay-container {
  display: flex;
  flex-wrap: wrap;
  flex: 2;

  h2 {
    font-size: 14px;
    margin: 4px 0 0;
    line-height: 20px;
  }

  a {
    width: 50%;
    color: $dark-blue;
  }

  .author {
    font-size: 14px;
    line-height: 18px;
  }

  .guest-essay {
    min-height: 50px;
    padding: 6px;
    margin: 0;
  }

  .image-container {
    height: 50px;
    width: 80px;
  }
}

.coffee-house {
  font-size: 12px;
  line-height: 20px;
  margin: 10px;
}

.books {
  display: grid;
  grid-template-columns: 260px 260px 260px;
  // grid-template-rows: 80px auto 80px;
  column-gap: 30px;
  row-gap: 30px;

  .book {
    width: 260px;
    height: 415px;
  }
}

.book-outline {
  .book {
    box-sizing: border-box;
    border: 1px solid $gray-ccc;
  }
}

.read-more {
  text-align: right;
  transform: translate(-30px, 0px);

  .prof {
    font-size: 14px;
  }

  .uni {
    color: $dark-blue;
    display: block;
    font-size: 14px;
    transform: translateY(-6px);
  }
}

.read-more-2 {
  clear: initial;
  transform: translate(-30px, -20px);
}

.prof-bottom-hack {
  clear: both;
  margin-bottom: 40px;
}

.high-z-index {
  z-index: 10;
}

.website-header-2 {
  background-color: $off-white;
  max-width: initial;
  display: block;
  height: 40px;

  .header-navigation-item {
    margin: 10px 15px;
  }
}

.sub-header {
  display: flex;
  justify-content: left;
  margin: 0 auto;
  width: 850px;

  .dropdown {
    position: relative;
  }
}

.temp-navigation-hack {
  border: 1px solid $gray-ccc;
  padding: 10px;
  color: white;

  a {
    display: block;
    padding-top: 16px;
    color: $dark-blue;
    text-decoration: none;

    &:hover {
      color: $very-light-blue;
    }
  }
}

table {
  border-spacing: 0px;
  border: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;

  tr td,
  table tr th {
    border: 1px solid $gray-ccc;
  }

  td,
  th {
    padding: 12px;
  }

  th {
    border: 1px solid $gray-aaa;
  }
}

.no-pointer {
  cursor: default;
  padding: 10px 0;
}

blockquote {
  margin: 0;
  padding-left: 30px;
  border-left: 2px solid $gray-ccc;
}

.citation {
  margin-bottom: 40px;

  .how-to-cite {
    font-size: 14px;
    margin: 0 20px;
    overflow-wrap: break-word;
  }
}

strong {
  font-weight: bold;
}

hr {
  border: none;
  height: 1px;
  background-color: $gray-ddd;
  margin: 40px 0;
}

.large-hit-box {
  padding: 10px 0;
}

.book-header {
  text-align: center;
  margin: 0;
  padding: 50px 10px;
  color: white;

  .title {
    display: block;
    font-size: 30px;
    margin: 10px;
    font-size: 30px;
  }

  .author {
    display: block;
    margin: 5px;
  }

  .year {
    opacity: 0.8;
    font-size: 14px;
    display: block;
    margin: 5px;
  }
}

.non-book-header {
  padding: 35px;

  .title {
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 850px;
    font-weight: initial;
  }
}

.smaller {
  font-size: 14px;
}

.scroll-to-top {
  background: white;
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.2);
  transform: rotate(180deg);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  border-radius: 50%;
  border: 1px solid $gray-aaa;
  bottom: 50px;
  position: fixed;
  right: 50px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 10;

  &:hover {
    background-color: $off-white;
  }
}

.error-404 {
  margin: 100px auto;
  display: block;
  text-align: center;

  .text-404 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: $gray-aaa;
    margin-bottom: 0;
  }
}

.pdf-download {
  position: absolute;
  right: -30px;
  top: 50px;

  .pdf-icon {
    width: 30px;
    height: 30px;
  }
}

.textbook-chapters-descriptions {
  h2 {
    font-size: 20px;
  }

  p {
    margin: 0;
  }

  .objections {
    margin-left: 35px;
  }

  .square {
    border-radius: 5px;
    color: white;
    height: calc(100% - 12px);
    position: absolute;
    text-align: center;
    transform: translateY(-4px);
    width: 30px;

    span {
      display: block;
      transform: translateY(9px);
    }
  }

  .guest-essay {
    border-radius: 10px;
    margin-bottom: 0;
    min-height: initial;
    padding: 10px;
    position: relative;
  }

  .title-and-description {
    margin-left: 40px;
  }
}

.thinkers-container {
  .guest-essay {
    min-height: 235px;
  }
}

.quote {
  .author {
    text-align: right;
    font-size: 16px !important;
  }
}
