<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}" {{- with partialCached "func/GetLanguageDirection" "GetLanguageDirection" }} dir="{{ . }}" {{- end }}>
  <head>

    {{ block "all-head" . }}{{ partial "head.html" . }}{{ end }}

	  {{ block "head-extra" . }}{{ partial "head-extra.html" . }}{{ end }}

  </head>


  <body>

    {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}

    <main class="homepage-main" role="main">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}{{ partialCached "site-footer.html" . }}{{ end }}

    {{ block "footnotes-script" . }}{{ partial "footnotes-script.html" . }}{{ end }}

    <div class="scroll-to-top" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"></div>

  </body>

</html>
