<!DOCTYPE html>
<html lang="{{ i18n "site.lang" }}">
  <head>
    {{ block "all-head" . }}{{ partial "head.html" . }}{{ end }}

    {{ block "head-extra" . }}{{ partial "head-extra.html" . }}{{ end }}
  </head>

  <body>
    {{ block "header" . }}{{ partial "page-header.html" . }}{{ end }}

    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        new PagefindUI({ element: "#search" });
      });
    </script>

    <main data-pagefind-body role="main">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}{{ partialCached "site-footer.html" . }}{{ end }}

    <div
      class="scroll-to-top"
      onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"
    ></div>

    <!-- Only for printing PDFs -->
    {{ if .Site.Params.pdf }}
      {{ block "pdf-hacking" . }}{{ partialCached "pdf-script" . }}{{ end }}
    {{ end }}

    {{ block "footnotes-script" . }}{{ partial "footnotes-script" . }}{{ end }}

  </body>
</html>
