<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}" {{- with partialCached "func/GetLanguageDirection" "GetLanguageDirection" }} dir="{{ . }}" {{- end }}>
  <head>

    {{ block "all-head" . }}{{ partial "head.html" . }}{{ end }}

	  {{ block "head-extra" . }}{{ partial "head-extra.html" . }}{{ end }}

    <!-- TODO: conditionally add this only to the `search` page -->
    <script>
      setTimeout(() => {
        // stork.register("yourIndexName", "search.st"); // for local loading
        stork.register("yourIndexName", "http://localhost:6969/lol.st"); // testing `brotli` compression with a custom Express server
      }, 500)
    </script>

  </head>


  <body>

    {{ block "header" . }}{{ partial "page-header.html" .}}{{ end }}

    <main class="homepage-main" role="main">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}{{ partialCached "site-footer.html" . }}{{ end }}

    {{ block "footnotes-script" . }}{{ partial "footnotes-script.html" . }}{{ end }}

    <div class="scroll-to-top" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"></div>

    <!-- TODO: conditionally add this only to the `search` page -->
    <script src="https://files.stork-search.net/releases/v1.5.0/stork.js"></script>

  </body>

</html>
