{{ define "header" }}{{ partial "page-header.html" . }}{{ end }} 
{{ define "main" }}

<div 
  class="book-header" 
  style="background: {{ default "#3380b4" .Params.gradientTop }};
         background: linear-gradient(180deg, {{ .Params.gradientTop }} 0%,  
                                             {{ .Params.gradientBottom }} 100%);"
>
    <span class="title">{{ .Params.book }}</span>
    <span class="author">{{ .Params.author }}</span>
    <span class="year">{{ .Params.year }}</span>
</div>

<div class="article-body">

  {{ .Content }}

  <div class="scroll-to-top" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"></div>

</div>

{{ end }}
