{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div
    class="book-header"
    style="background: {{ default "#3380b4" .Params.gradientTop }};
         background: linear-gradient(180deg, {{ .Params.gradientTop }} 0%,  
                                             {{ .Params.gradientBottom }} 100%);"
  >
    <h1 class="title" data-pagefind-meta="title">{{ .Params.book }}</h1>
    {{ if .Params.author }}<span class="author">{{ .Params.author }}</span>{{ end }}
    {{ if .Params.year }}<span class="year">{{ .Params.year }}</span>{{ end }}
  </div>

  <div class="article-body">
    {{ partial "fake-image.html" . }}

    {{ partial "PDF.html" . }}

    {{ .Content }}
  </div>
{{ end }}
