<div style="width: 300px; background-color: #0b3b5b; float: right; margin-left: 20px;">

  <img src="/img/chinese-translation-callout.jpg">

  <p style="color: white; margin: 4px 20px 20px; font-size: 14px;">
    And we want your contribution! We are now calling for <a href="lol" style="color: yellow">Google Form</a> early contributing materials on the forum, including article drafts, idea notes, or comments. Please send us your materials! We are also launching a newsletter for updates about this sub-page, where we will eventually inform about the launch of the forum. Please subscribe! <a href="lol" style="color: yellow">Newsletter sign-up</a>
  </p>

  <div style="width: 100%; background-color: white; height: 20px">

  </div>

  <div style="width: 100%; background-color: #e7f1ff; border: 1px solid #0c63e4; padding: 20px 20px 0; box-sizing: border-box;">

    <span style="font-size: 30px; display: block;">
      功利主义研究
    </span>

    <p style="font-size: 14px;">
      To participate in the Chinese-language discussion, please join the WeChat account “功利主义研究” (“utiltarian studies”), through this QR code.
    </p>

    <div style="
      width: 8.5rem;
      height: 8.5rem;
      margin: .9rem 0 0;
      border: 2px dashed #c99a2e;
      background: #fdf6e3;
      color: #c99a2e;
      font-size: .85rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 20px;
    ">qr code</div>
  </div>
</div>
