<table class="alts">
  <thead>
    <tr>
      <th scope="col">Prefix</th>
      <th scope="col">Literal sense</th>
      <th scope="col">Who has used it, and where it stands</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Prefix"><span class="t">效益</span><span class="rom">xiàoyì</span></td>
      <td data-label="Literal sense">literally "effectiveness" + “benefit”</td>
      <td data-label="Who has used it, and where it stands">
        <ul class="cellnotes">
          <li>Now dominant in academic philosophy in Taiwan.</li>
          <li>It is hard to trace who first raised this alternative, and when. But some earlier adopters who can be
            traced include <span class="zh">：林火旺</span> (Lin Huo-wang, Professor at the Philosophy Department of the
            National Taiwan University) and <span class="zh">钱永祥</span> (Sechin Y. S. Chien, Corresponding Research
            Fellow, Institute of History and Philology, Academia Sinica)</li>
          <li>The Taiwan edition of Mill's <em>Utilitarianism</em> is <span class="zh">《效益主义》</span>, <a
              href="https://www.eslite.com/product/1001266962606999?srsltid=AfmBOopiMysxC-8gqcX9IgUVbO0QZI3hWIg29vYO2sjSWdahitwpMNmV">and
              its publisher gives our reason verbatim</a>: “Since the word <span class="zh">功利</span> in Chinese can be
            easily misunderstood as seeking self-interest or profit-seeking, I changed it into <span
              class="zh">效益</span>”. (<span class="zh long">「因『功利』的中文一词易遭误解，误以为是追求私利或唯利是图，故后来以『效益』代之。」</span>)</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td data-label="Prefix"><span class="t">效用</span><span class="rom">xiàoyòng</span></td>
      <td data-label="Literal sense">also one of the common translations of "utility" as an economics terminology</td>
      <td data-label="Who has used it, and where it stands">
        <ul class="cellnotes">
          <li>Not popular anywhere, but used in the recently published translated version of <em>Utilitarianism: A Very
              Short Introduction</em>
            <ul>
              <li>Tse Yip Fai, Peter Singer, and Katarzyna de Lazari-Radek, wrote a special preface for the translated
                book, on the topic of the translation issue. You can view it here <span class="todo">[English version
                  URL; Chinese version URL]</span></li>
            </ul>
          </li>
          <li>Reproduces the English structure exactly, since <span class="zh">效用</span> is the economics term. On the
            diagnosis above, this is arguably the most faithful option; it is currently the least discussed.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td data-label="Prefix"><span class="t">功用</span><span class="rom">gōngyòng</span></td>
      <td data-label="Literal sense">"function, use"</td>
      <td data-label="Who has used it, and where it stands">
        <ul class="cellnotes">
          <li>Used by <span class="zh">唐钺</span> (Tang Yue), in his <a
              href="https://book.douban.com/subject/4113039/">translation of Mill’s <em>Utilitarianism</em>, in
              1957</a>.</li>
          <li>The headword on <a href="https://zh-yue.wikipedia.org/wiki/%E5%8A%9F%E7%94%A8%E4%B8%BB%E7%BE%A9">Cantonese
              Wikipedia</a>.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td data-label="Prefix"><span class="t">乐利</span><span class="rom">lèlì</span></td>
      <td data-label="Literal sense">literally "happiness” + “benefit"</td>
      <td data-label="Who has used it, and where it stands">
        <ul class="cellnotes">
          <li>Used by <span class="zh">梁启超</span> (Liang Qichao), in <span class="zh long">《乐利主义泰斗边沁之学说》</span>published
            in 1902. Note that Liang later turned back to using <span class="zh">功利主义</span> (gōnglì zhǔyì)</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td data-label="Prefix"><span class="t">最大幸福</span></td>
      <td data-label="Literal sense">"greatest-happiness", plus “–ism” is literally “greatest-happiness-ism"</td>
      <td data-label="Who has used it, and where it stands"></td>
    </tr>
  </tbody>
</table>
