<div class="objections-buttons-container">

  {{ if .Get "objections" }}

    {{ $objectionsFolderString := i18n "link.objections" }}
    {{ $objectionsMarkdownFile := printf "%s/_index.md" $objectionsFolderString }}

    {{ with .Page.GetPage $objectionsMarkdownFile }}
    <a href="{{ .RelPermalink }}">
      <div class="small-button">
        {{ i18n "button.next-chapter" }}
        {{ .Title }}
      </div>
    </a>
    {{ end }}

  {{ else }}

    {{ with .Page.Prev }}
      <a href="{{ .RelPermalink }}">
        <div class="small-button">
          {{ i18n "button.next-chapter" }}
          {{ .Title }}
        </div>
      </a>
    {{ end }}

  {{ end }}

</div>
