
<script src="https://unpkg.com/littlefoot/dist/littlefoot.js" type="application/javascript" ></script> 
<script type="application/javascript"> littlefoot.default({
  activateOnHover: true,
  hoverDelay: 0,
  buttonTemplate: `<div
                      aria-label="Footnote <% number %>"
                      class="footnote-number"
                      id="<% reference %>"
                      title="Footnote <% number %>"
                    />
                      <% number %>
                    </div>`
})</script>
