<div class="regular-header">
  <header>
    <div class="website-header">
      <div class="logo">
        <a href="{{ .Site.BaseURL | relLangURL }}">
          <img
            src="{{ i18n "site.logo-path" }}"
            alt="{{ i18n "site.logo-alt" }}"
          />
        </a>
      </div>

      {{ partial "site-navigation.html" . }}

    </div>

    <div class="website-header website-header-2">
      {{ partial "site-navigation-2.html" . }}
    </div>

    <div id="search-hack">
      <div id="search"></div>
    </div>
  </header>
</div>

<div class="mobile-header">
  <header>
    <div class="logo">
      <a href="{{ .Site.BaseURL | relLangURL }}">
        <img
          src="{{ i18n "site.logo-path" }}"
          alt="{{ i18n "site.logo-alt" }}"
        />
      </a>
    </div>

    <input id="nav" type="checkbox" />
    <label for="nav"></label>

    <nav>
      <ul>
        <li>
          <b>
            <a href="/{{ i18n "link.textbook" }}"><b>{{ i18n "menu.textbook" }}</b></a>
          </b>
        </li>
        <li>
          <a href="/{{ i18n "link.acting" }}"><b>{{ i18n "menu.acting" }}</b></a>
        </li>

        {{ if .Site.Menus.guest }}
        <li>
          <a href="/guest-essays">Guest Essays</a>
        </li>
        {{ end }}

        {{ if eq .Site.Language.Lang "en" }}
        <li>
          <details>
            <summary>Study Guides<span class="icon"></span></summary>
            <li>
              <a href="/peter-singer-famine-affluence-and-morality"
                >Peter Singer's <em>Famine, Affluence, and Morality</em></a
              >
            </li>
            <li>
              <a href="/peter-singer-animal-liberation"
                >Peter Singer's <em>Animal Liberation: All Animals are Equal</em></a
              >
            </li>
            <li>
              <a href="/utilitarianism-for-high-school-students"
                >Utilitarianism Simply Explained</a
              >
            </li>
          </details>
        </li>
        {{ else if eq .Site.Language.Lang "de" }}
        <li>
          <a href="/{{ i18n "link.famine-affluence-morality" }}">{{ i18n "menu.famine-affluence-morality-short" }}</a>
        </li>
        {{ end }}

        {{ if .Site.Menus.thinker }}
        <li>
          <a href="/utilitarian-thinkers">Thinkers</a>
        </li>
        {{ end }}

        {{ if eq .Site.Language.Lang "en" }}
        <li>
          <a href="/utilitarian-quotes">Quotes</a>
        </li>
        <li>
          <a href="/glossary">Glossary</a>
        </li>
        <li>
          <a href="/books">Books</a>
        </li>
        {{ end }}

        <li>
          <a href="/{{ i18n "link.about" }}">{{ i18n "menu.about" }}</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
