<div class="regular-header">
  <header>
    <div class="website-header">
      <div class="logo">
        <a href="{{ .Site.BaseURL | relLangURL }}">
          <img
            src="/img/Utilitarianism-Website-Logo.svg"
            alt="Utilitarianism.net website logo"
          />
        </a>
      </div>

      {{ partial "site-navigation.html" . }}

    </div>

    <div class="website-header website-header-2">
      {{ partial "site-navigation-2.html" . }}
    </div>

    <div id="search-hack">
      <div id="search"></div>
    </div>
  </header>
</div>

<div class="mobile-header">
  <header>
    <div class="logo">
      <a href="{{ .Site.BaseURL | relLangURL }}">
        <img
          src="/img/Utilitarianism-Website-Logo.svg"
          alt="Utilitarianism.net website logo"
        />
      </a>
    </div>

    <input id="nav" type="checkbox" />
    <label for="nav"></label>

    <nav>
      <ul>
        <li>
          <b>
            <a href="/textbook"><b>Learn About Utilitarianism</b></a>
          </b>
        </li>
        <li>
          <a href="/acting-on-utilitarianism"><b>Acting on Utilitarianism</b></a>
        </li>
        <li>
          <a href="/guest-essays">Guest Essays</a>
        </li>
        <li>
          <details>
            <summary>Study Guides<span class="icon"></span></summary>
            <li>
              <a href="/peter-singer-famine-affluence-and-morality"
                >Famine, Affluence, and Morality</a
              >
            </li>
            <li>
              <a href="/utilitarianism-for-high-school-students"
                >Simply Explained</a
              >
            </li>
          </details>
        </li>
        <li>
          <a href="/utilitarian-thinkers">Thinkers</a>
        </li>
        <li>
          <a href="/utilitarian-quotes">Quotes</a>
        </li>
        <li>
          <a href="/glossary">Glossary</a>
        </li>
        <li>
          <a href="/books">Books</a>
        </li>
        <li>
          <a href="/about">About Us</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
