<script>
  var anchors = document.getElementsByTagName("a");

  for (var i = 0; i < anchors.length; i++) {
    const old = anchors[i].href;
    if (!old.includes("#fn")) {
      const new_url = old.replace(
        "http://localhost:1313/",
        "https://utilitarianism.net/"
      ).replace(
        "http://localhost:1314/",
        "https://utilitarismus.net/"
      ).replace(
        "http://localhost:1315/",
        "https://utilitarismo.net/"
      );
      anchors[i].href = new_url;
    }
  }
</script>
