<script>
  function togglePlayOrPause() {
    document.getElementById('player-container').classList.add("show-player");
    document.getElementById('audio-icon').outerHTML = "";
  }
</script>

{{ with .Page }}
  {{ $myVar := print .Params.title site.Params.pdfString }}
  {{ $myVar2 := replaceRE "( |,|_|-|—|:|'|\\.|  )" "_" $myVar }}
  {{ $myVar3 := replace $myVar2 "__" "_" }}
  {{ $myVar4 := replace $myVar3 "__" "_" }}
  {{ $myVar5 := replace $myVar4 "ä" "a" }}
  {{ $myVar6 := replace $myVar5 "ü" "ue" }}
  {{ $myVar7 := replace $myVar6 "ß" "ss" }}
  {{ $myVar8 := replace $myVar7 "„" "" }}
  {{ $myVar9 := replace $myVar8 "“" "" }}

<div id="player-container" class="audio-player">

  <type-3-player
{{ if .Page.Params.mp3 }}
    mp3-url="{{ .Page.Params.mp3 }}"
    title="{{ .Page.Params.title }}"
{{ end }}
    subscribe-url--apple="{{ i18n "mp3.apple" }}"
    subscribe-url--spotify="{{ i18n "mp3.spotify" }}"
    subscribe-url--podcast-addict="{{ i18n "mp3.podcast-addict" }}"
    subscribe-url--rss="{{ i18n "mp3.rss" }}"
    primary-color="#0b3b5b"
    accent-color="#0b3b5b"
    t3a-logo="false"
    background-color="#f5f5f5"
    waveform-color="#cad5dc"
  >
  </type-3-player>

</div>

<div class="pdf-download">

  <a href="/pdf/{{ $myVar9 }}.pdf">
    <img
      src="/img/pdf.svg"
      class="pdf-icon"
      title="{{ i18n "pdf.download" }}"
      alt="{{ i18n "pdf.download" }}"
    />
  </a>

{{ if not .Params.hideaudio }}

  <div id="audio-icon" onclick="togglePlayOrPause()" class="mp3" title="{{ i18n "mp3.play" }}">
    <img
      src="/img/audio.svg"
      title="{{ i18n "mp3.play" }}"
      alt="{{ i18n "mp3.play" }}"
    />
  </div>

{{ end }}

</div>

{{ end }}
