<script>
  let playing = false;
  let firstTime = true;
  function togglePlayOrPause() {
    if (firstTime) {
      document.getElementById('player-container').classList.add("show-player");
      firstTime = false;
    }
    if (playing) {
      document.getElementById('player').pause();
    } else {
      document.getElementById('player').play();
    }
    playing = !playing;
  }
</script>

{{ with .Page }}
  {{ $myVar := print .Params.title "_Utilitarianism_net" }}
  {{ $myVar2 := replaceRE "( |,|_|-|—|:|'|\\.|  )" "_" $myVar }}
  {{ $myVar3 := replace $myVar2 "__" "_" }}
  {{ $myVar4 := replace $myVar3 "__" "_" }}

<div id="player-container" class="audio-player">
  <audio id="player" controls preload="none">
    <source src="/mp3/temp.mp3" type="audio/mpeg" />
  </audio>
</div>

<div class="pdf-download">

  <div onclick="togglePlayOrPause()" class="mp3" title="Play audio recording of content">
    <img
      src="/img/audio.svg"
      title="Play audio recording of content"
      alt="Play audio"
    />
  </div>

  <a href="/pdf/{{ $myVar4 }}.pdf">
    <img
      src="/img/pdf.svg"
      class="pdf-icon"
      title="Download as PDF"
      alt="PDF download"
    />
  </a>

</div>

{{ end }}
