<div class="site-navigation-header sub-header">

    <div class="header-navigation-item">
        <a href="/about">About Us</a>
    </div>

    <div class="dropdown header-navigation-item">
      
      <a href="/utilitarian-thinkers">
        Utilitarian Thinkers
      </a>

      <div class="table-of-contents dropdown-content">

        {{ if .Site.Menus.thinker }}

          <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
            
            {{ range .Site.Menus.thinker }}

            <a class="" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              <li class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">

                <div class="title">
                  {{ .Name }}
                </div>
                
              </li>
            </a>

            {{ end }}

          </ul>

        {{ end }}

      </div>

    </div>

    <div class="header-navigation-item">
      <a href="/utilitarian-quotes">Utilitarian Quotes</a>
    </div>

    <div class="header-navigation-item">
      <a href="/glossary">Glossary</a>
    </div>

    
    
    <div class="dropdown header-navigation-item">
      
        <a href="/books">
          Books
        </a>
    
        <div class="table-of-contents dropdown-content">
    
          {{ if .Site.Menus.book }}
    
            <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
              
              {{ range .Site.Menus.book }}
    
              <a class="" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
                <li class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
                  {{ with .Page }}
                    <div class="title">
                      {{ .Params.book }}
                    </div>
                    
                    <span class="author">
                      {{ .Params.author }}
                    </span>
                    <span class="year">
                      ({{ .Params.year }})
                    </span>
                    {{ end }}
                  </li>
                </a>
    
              {{ end }}
    
            </ul>
    
          {{ end }}
    
    
        </div>

    </div>

    <div class="dropdown header-navigation-item">
    
        <span>Study guides</span>
    
        <div class="table-of-contents dropdown-content">
    
          {{ if .Site.Menus.guide }}
    
            <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
              
              {{ range .Site.Menus.guide }}
    
              <a class="" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
                <li class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
                    {{ .Name }}
                    
                    <span class="author">
                      {{ with .Page }}
                      {{ .Params.author }}
                      {{ end }}
                    </span>
                  </li>
                </a>
    
              {{ end }}
    
            </ul>
    
          {{ end }}
    
    
        </div>

    </div>

</div>