<nav role="navigation">

  <div class="dropdown header-navigation-item">

    <span>Learn about Utilitarianism</span>

    <div class="table-of-contents dropdown-content">

      {{ if .Site.Menus.main }}

        <ol class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          
          {{ range .Site.Menus.main }}

            <li class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
              <a class="" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
                {{ .Name }}
              </a>
            </li>

          {{ end }}

        </ol>

      {{ end }}

    </div>

  </div>  
  
  <div class="header-navigation-item">
    <a href="/acting-on-utilitarianism">Acting on Utilitarianism</a>
  </div>


</nav>
