{{/* pass in `true` to hide the <hr> */}}
{{ if not (.Get 0) }}<hr>{{ end }}

<h2>Guest Essays</h2>

<div class="guest-essay-container homepage-guest-essay-container" data-pagefind-ignore>
  {{ range first 10 .Site.Menus.guest.Sort.ByWeight }}
  <a href="{{ .URL }}">
    {{ with .Page }}
    <div class="guest-essay">
      <div class="image-container" style="background-image: url('{{ .Params.image }}')">
        <!-- <img src="{{ .Params.image }}" alt="{{ .Params.imageCaption }}" /> -->
      </div>
      <h2>{{ .Title }}</h2>

      <span class="author"> {{ .Params.author }} </span>

    </div>
    {{ end }}
  </a>
  {{ end }}
</div>
