<div class="temp-navigation-hack">
  <span>{{ i18n "text.textbook-overview" }}</span>

  <ol>
    {{ range .Site.Menus.main.Sort.ByWeight }}
      <li>
        <a href="{{ .URL }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ol>

  <span>{{ i18n "menu.other-content" }}</span>

  <ul>
    <li>
      <a href="/{{ i18n "link.acting" }}">{{ i18n "menu.acting" }}</a>
    </li>

    {{ if not (eq .Site.Language.Lang "de") }}

    <li>
      <a href="/guest-essays">Guest Essays</a>
    </li>
    <li>
      <a href="/utilitarian-thinkers">Utilitarian Thinkers</a>
    </li>
    <li>
      <a href="/utilitarian-quotes">Utilitarian Quotes</a>
    </li>
    <li>
      <a href="/glossary">Utilitarian Glossary</a>
    </li>
    <li>
      <a href="/books">Utilitarian Books</a>
    </li>

    {{ else }}

    <li>
      <a href="/{{ i18n "link.famine-affluence-morality" }}">{{ i18n "menu.famine-affluence-morality-long" }}</a>
    </li>

    {{ end }}

  </ul>
</div>
