{{/* see `next-page.html` for details on how this works */}}


<div class="objections-buttons-container">
  {{ if not (.Get "hide-next") }}

    {{ with .Page.Prev }}
      <a href="{{ .RelPermalink }}">
        <div class="small-button">
          {{ i18n "button.next" }}
          {{ .Title }}
        </div>
      </a>
    {{ end }}

  {{ end }}

  {{ if not (.Get "hide-other") }}

    <a
      href="/{{ i18n "link.specific-objections" }}"
    >
      <div class="small-button">{{ i18n "button.other-objections" }}</div>
    </a>
  {{ end }}

  {{ if .Get "end-objection" }}

    <a href="/acting-on-utilitarianism">
      <div class="small-button">{{ i18n "button.next-chapter" }} {{ i18n "menu.acting" }}</div>
    </a>
  {{ end }}

</div>

<hr />
