{{/* see `next-page.html` for details on how this works */}}

<div class="objections-buttons-container">

    {{ $frontmatterMenu := first 1 $.Page.Params.menu }}

    {{ $pageNumber := .Page.Params.page }}
    
    {{ range $index, $element := (index .Site.Menus $frontmatterMenu).Sort.ByWeight }}

        {{ if eq $pageNumber $index}}
        <a href="{{ .URL }}">
            <div class="small-button">
                {{ with .Page }}
                    Next: {{ .Title }}
                {{ end }}
            </div>
        </a>
        {{ end }}

    {{ end }}
    

    <a href="/objections-to-utilitarianism#specific-objections-against-utilitarianism">
        <div class="small-button">
            Other Objections to Utilitarianism
        </div>
    </a>

</div>

<hr>
