<div class="guest-essay-container textbook-chapters-descriptions">

  {{ range first 8 .Site.Menus.main.Sort.ByWeight }}
    <a href="{{ .URL }}">
      {{ with .Page }}
        {{ block "chapter" . }}{{ partial "textbook-chapter.html" . }}{{ end }}
      {{ end }}
    </a>
  {{ end }}

  {{ with .Site.Menus.objections.Sort.ByWeight }}
    {{ range first 7 . }}
      <a href="{{ .URL }}">
        {{ with .Page }}
          {{ block "objections" . }}{{ partial "textbook-chapter.html" . }}{{ end }}
        {{ end }}
      </a>
    {{ end }}
  {{ end }}

  {{ range last 1 .Site.Menus.main.Sort.ByWeight }}
    <a href="{{ .URL }}">
      {{ with .Page }}
        {{ block "last-chapter" . }}{{ partial "textbook-chapter.html" . }}{{ end }}
      {{ end }}
    </a>
  {{ end }}

</div>
