<div class="temp-navigation-hack">

    <span class="footer-heading">Textbook Chapters</span>

    <ol>
        {{ range first 8 .Site.Menus.main.Sort.ByWeight }}
        <li>
            <a href="{{ .URL }}">{{ .Title }}</a>
        </li>  
        {{ end }}

        {{/* After "Objections" article list all the Objection articles */}}
        <ul>
        {{ with .Site.Menus.objections.Sort.ByWeight }}
            {{ range first 7 . }}
            <li>
                <a href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{ end }}
        {{ end }}
        </ul>

        {{ range last 1 .Site.Menus.main.Sort.ByWeight }}
        <li>
        <a href="{{ .URL }}">{{ .Title }}</a>
        </li>  
    {{ end }}
    </ol>

</div>