<div class="guest-essay-container textbook-chapters-descriptions">

  {{ range $index, $lol := first 8 .Site.Menus.main.Sort.ByWeight }}
    <a href="{{ .URL }}">
      {{ with .Page }}
        {{ .Scratch.Set "chapter" (add $index 1) }}
        {{ partial "textbook-chapter.html" . }}
      {{ end }}
    </a>
  {{ end }}

  <div class="objections">
    {{ range $index, $lol := first 7 .Site.Menus.objections.Sort.ByWeight }}
      <a href="{{ .URL }}">
        {{ with .Page }}
          {{ .Scratch.Set "chapter" (add $index 1) }}
          {{ partial "textbook-chapter.html" . }}
        {{ end }}
      </a>
    {{ end }}
  </div>

  {{ range $index, $lol := last 1 .Site.Menus.main.Sort.ByWeight }}
    <a href="{{ .URL }}">
      {{ with .Page }}
        {{ .Scratch.Set "chapter" (add $index 9) }}
        {{ partial "textbook-chapter.html" . }}
      {{ end }}
    </a>
  {{ end }}

</div>
