<div class="callout">
  <h2>Want to learn more about utilitarianism?</h2>

  <div class="two-button-callout">
    <div>
      <p>Read about the theory behind utilitarianism:</p>

      <a href="{{ .Site.BaseURL }}/introduction-to-utilitarianism">
        <div class="callout-button">Introduction to Utilitarianism</div>
      </a>
    </div>

    <div>
      <p>Learn how to use utilitarianism to improve the world:</p>

      <a href="{{ .Site.BaseURL }}/acting-on-utilitarianism">
        <div class="callout-button">Acting on Utilitarianism</div>
      </a>
    </div>
  </div>
</div>
