<div class="callout">
  <h2>{{ i18n "button.learn-more"}}</h2>

  <div class="two-button-callout">
    <div>
      <p>{{ i18n "button.read-theory"}}</p>

      <a href="{{ .Site.BaseURL }}{{ i18n "link.introduction" }}">
        <div class="callout-button">{{ i18n "cite.book-title" }}</div>
      </a>
    </div>

    <div>
      <p>{{ i18n "button.learn-improve" }}</p>

      <a href="{{ .Site.BaseURL }}{{ i18n "link.acting" }}">
        <div class="callout-button">{{ i18n "menu.acting" }}</div>
      </a>
    </div>
  </div>
</div>
